<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio</title>
</head>
<body>
    <h1>DATOS DE ESTUDIANTES</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>NOMBRE</td>
            <td>APELLIDO</td>
            <tr>

                <td>100</td>
                <td>Edwin</td>
                <td>Master</td>
            </tr>
        </tr>
    </table>
    <a href="">home</a>
</body>
</html>